server:
  port: 8080
spring:
  application:
    name: "Demo"
  datasource:
    url: jdbc:postgresql://localhost:5432/demodb
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
demo:
  app:
    jwtSecret: demoappdisqo
    jwtExpirationMs: 86400000